.container {
    background-color: aqua;
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 100px 100px 100px;
    /* name the area*/
    grid-template-areas:
    "myheader"
    "mymain"
    "ad"
    "myfooter";
}

.box{
    background-color: bisque;
}

/* media querie for tablet */
@media (min-width: 768px){
    .container{
        grid-template-columns: 350px 350px;
        grid-template-rows: 100px 100px 100px;
        /*change areas*/
        grid-template-areas: 
        "myheader myheader"
        "mymain ad"
        "myfooter myfooter";
    }
}

/* media queries for desktop */
@media (min-width: 992px){
    .container{
        grid-template-columns: 350px 1fr 350px;
        grid-template-rows: 100px 100px 100px;
        /*update areas*/
        grid-template-areas: 
        "myheader myheader myheader"
        "mymain mymain ad" 
        "myfooter myfooter myfooter";
    }
}

/* name boxes */
.box-01{
    grid-area: myheader;
    background-color: blue;
}

.box-02{
    grid-area: mymain;
    background-color: antiquewhite;
}

.box-03{
    grid-area: ad;
    background-color: blueviolet;
}
.box-04{
    grid-area: myfooter;
    background-color: cadetblue;
}