main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

body{
    background-color: beige;
}
.fizzbuzz{
    background: #ffcbcb; 
    width: 100px;
    height: 80px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.fizzbuzz:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.fizz{
    background: #ffb5b5; 
    width: 100px;
    height: 80px;
    border: 1px solid rgb(66, 56, 56);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin: 5px; 
    align-items: center;
    justify-content: center;
    display: flex;
}
.fizz:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


.buzz{
    background: #407088; 
    width: 100px;
    height: 80px;
    border: 1px solid rgb(66, 56, 56);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.buzz:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.other{
    background: #aedefc;
    width: 100px;
    height: 80px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.other:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


.glow-on-hover{
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.glow-on-hover:hover{
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -30px 40px;
}



@media (max-width: 600px) {
    div #main {
      width: 100%;
      height: 100px;
    }
  }
  
  @media (min-width: 601px) and (max-width: 1200px) {
    div #main {
      width: 20%;
      height: 50px;
    }
  }
  
  @media (min-width: 1201px) {
    div #main {
      width: 10%;
      height: 50px;
    }
  }
  
