.boxy{
    background-color: rgb(231, 86, 86);
    border: 1px solid rgb(22, 21, 19);
    padding: 10px;
    margin: 10px;
    width: 200px;
}

/* pseido class change color when you click*/
.boxy:hover{
    background-color: aquamarine;
}

.box-03:hover{
    transform: scale(1.05);
    box-shadow: 8px 7px 10px rgb(84, 79, 79);
}

.box-04:hover{
    transform: rotate(10deg);
}

.box-05:hover{
    transform: skew(10deg);
}

.box-01:hover{
    transition: all 1s;
    transform: scale(0.5);
    /* we can change the way transition works*/
}
.box-02:hover{
    box-shadow: 10px 10px 5px rgb(66, 62, 62);
}

.another_box{
    width: 200px;
    height: 200px;
    background-color: rgb(228, 59, 197);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 10s linear infinite;
   /* animation: colorchange 5s linear infinite; */
}

@keyframes spin{
    /*from 0-100% */
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.outer_box{
    animation: colorchange 5s linear alternate infinite;
}

@keyframes colorchange{
    from{
        background-color: blue;
    }
    to{
        background-color: aqua;
    }
}

/* add media querie
going mobile first from lowest to highest*/

@media (min-width: 400px){
    .box-container {
        background-color: rgb(72, 165, 165);
    }
}
@media (min-width: 600px){
    .box-container{
        background-color: blueviolet;
    }
}

@media (min-width: 600px){
    main{
        background-color: rgb(221, 169, 72);
    }
}



