/* box sizing reset */
*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: antiquewhite;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    
}


.fizbuz{
    background-color: rgb(30, 173, 75);
    width: 60px;
    height: 60px;
    border: 1px solid rgb(66, 56, 56);
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    margin: 5px;
}

.fiz{
    background-color: rgb(45, 26, 173);
    width: 60px;
    height: 60px;
    border: 1px solid rgb(66, 56, 56);
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    margin: 5px;
}

.buz{
    background-color: rgb(194, 220, 23);
    width: 60px;
    height: 60px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    margin: 5px;
}

.num{
    background-color: rgb(166, 169, 148);
    width: 60px;
    height: 60px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    margin: 5px;
}

.new-element{
    width: 60px;
    height: 60px;
    background-color: rgb(189, 142, 142);
    border: 1px solid rgb(66, 56, 56);
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    margin: 5px;
}

.new-element:hover{
    box-shadow: 0 0 5px 5px rgb(80, 73, 73);
}

/* lets create separate backgrounds fo even and odd classes */
.new-element.even{
    background-color: aquamarine;
}
.new-element.odd{
    background-color: bisque;
}